* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}
/*--- Header ---*/
header {
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.logo {
    height: 3rem;
    vertical-align: middle;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    vertical-align: middle;
    display: inline-block;
}
/* --- Main --- */
.container {
    max-width: 50rem;
    margin: 0 auto;
}
/* --- Buttons --- */
.add-btns{
    background-color: white;
    padding: 1rem 3rem 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    margin-bottom: .125rem;
}

button {
    border-radius: .5rem;
    padding: 0.5rem;
    font-size: .75rem;
}

.task-btn {
    background-color: #45ABEA;
    color: white;
    border: .0625rem none;
}

.section-btn {
    background-color: white;
    color: grey;
    border: .0625rem solid grey;
}
/*--- Tasks titles ---*/
.tasks{
    background-color: white;
    padding: 2rem 3rem;
}

h2 {
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1rem;
}

.darrow {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 2rem;
}
/*--- Tasks ---*/
h3{
    display: inline-block;
    font-weight: 500;
    margin: 1rem auto;
}
/* --- tags --- */
.tagg {
    display: inline-block;
    vertical-align: middle;
    border: 1rem none;
    border-radius: 1rem;
    padding: .25rem;
    font-size: .5rem;
    margin-left: .5rem;
    color: white;
}
.editorial {
    background-color: #45ABEA;
}
.goals {
    background-color: #9C72E4;
}
.recruiting {
    background-color: #64C0A9;
}
.mobile {
    background-color: #F29E33;
}
.website {
    background-color: #D863A1;
}
.sales {
    background-color: #B0C926;
}
/* --- checks and crosses --- */
.circle {
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    padding: .1rem;
}

.check {
    border-color: green;
    color: green;
}

.cross {
    border-color: red;
    color: red;
}